<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에러페이지</title>
</head>
<style>
    .err {
        margin: 0 auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .err h3 { 
        font-size: 30px;
        color: #000;
    }
</style>

<body class="err">
    <h3>동일한 유저네임으로 회원가입 할 수 없습니다.</h3>
    <br />
    <a href="/joinForm">회원가입 페이지 돌아가기</a>
</body>

</html>