{{> /layout/header}}

<!-- 메인 -->


<div class="container">
    <div class="card">
    {{#boardList}}
        <div class="card-body">
            <h4 class="card-title mb-5">{{title}}</h4>
            <a href="/board/{{id}}" class="btn btn-primary">상세보기</a>
        </div>
    {{/boardList}}
    </div>

    <ul class="pagination mt-5">
        <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
        <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
    </ul>
</div>

{{> /layout/footer}}