test

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mustache 기본</title>
</head>

<body>
    <h1>mustache 기본 문법</h1>
    <div> {{값}} 데이터 전달 </div>
    <div>{{#값}} 조건문 혹은 반복문</div>
    <div>{{^값}} 부정</div>
    <div>{{>파일명}} 부분 템플릿</div>
</body>

</html>